.image {
  width: 40%;
  float: left;
  padding: 20px;
  /* border: 2px solid red; */
}
.description {
  width: 20%;
  float: left;
  padding: 20px;
  /* border: 2px solid red; */

  display: grid;
  align-items: center;
  justify-content: center;

  font-size: larger;
}

.tokenDetails {
  width: 20%;
  float: left;
  padding: 20px;
  /* border: 2px solid red; */
}
