.image {
  width: 30%;
  float: left;
  padding: 20px;
  /* border: 2px solid red; */
}
.description {
  width: 30%;
  float: left;
  padding: 20px;
  /* border: 2px solid red; */
}

.tokenDetails {
  width: 40%;
  float: left;
  padding: 20px;
  /* border: 2px solid red; */
}
